orjson
phonenumbers
qddate
pyparsing
pymongo
validators
sqlalchemy
PyYAML
click
tabulate
chardet
pydantic
pytest
xmltodict
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability